@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.main {
    margin: 2%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.results-panel {

}

.section-label {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
}

.results-listings {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: fit-content;
    background: white;
    border-radius: 8px;
}

.selected {
    border-radius: 25px;
    background-color: #73AD21;
    padding: 20px;
}

.flight-card {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    min-width: 310px;
}